body{ 
    font-family: arial, sans-serif; 
    background-color: #f4f4f4;
}

.container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
}

input[type=username], input[type=password], button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

input[type=username], input[type=password]{
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

h1{
    color: #333;
}
p{
    color: #666;
}

/*tampilan halaman.html*/
body.halaman.html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .more-container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #333;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 2em;
    color: #fff;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  nav ul li a:hover{
    color: yellow;
  }
  
  section {
    padding: 50px 0;
  }
  
  .banner {
    background-image: url('WhatsApp Image 2023-12-06 at 13.50.19_8adfb28d.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
  }
  
  .banner h2 {
    font-size: 3em;
  }
  
  .contact-section {
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  footer p {
    margin: 0;
  }